{% load static %}
<div class="row" style="height: 100px; background-color: black; border: 2px solid pink;">
    <div class="col-md-4">
      <i class="bi bi-geo-alt-fill" style="color: pink;"></i>
      <p style="color: pink;"> Hiranandani Estate Rd, Hiranandani Estate, Thane West, Mumbai, Thane, Maharashtra 400607 </p> 
    </div> 
    <div class="col-md-4">
      <i class="bi bi-whatsapp" style="color: pink;"> Contact no: 9999988888</i> <br> <br>
      <i class="bi bi-envelope-at-fill" style="color: pink;">Mail id:vmart@gmail,com</i>
    </div>
    <div class="col-md-4">
      <i class="bi bi-facebook" style="color: pink;">Facebook ID: Vmart</i>
    </div>
  </div>
</div>
<!-- domain-different fields -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
