<div class="col-md-2 border " style="background-color: black; ">
    <h5 style="color: pink;">Category</h5>
    <hr style="color:yellow;">
    <a href="/">All</a><br>
    <a href="/filter-by-cat/parrot">Bird</a><br>
    <a href="/filter-by-cat/dog">Dog</a><br>
    <a href="/filter-by-cat/goat">Goat</a><br>
    <a href="/filter-by-cat/fish">Fish</a><br>
    <a href="/filter-by-cat/tiger">Tiger</a><br>
    <hr style="color: pink;">
    <h5 style="color: pink;">Sort by Price</h5>
    <a href="/sort-by-price/asc">Low to High</a><br> <br>
    <a href="/sort-by-price/desc">High to Low</a><br> <br>
    
    <hr>
    <h4 style="color: pink;">Filter by Price</h4>
    <form action="/filter-by-range" method="get">
    <div class="mb-1">
      
      <label class="form-label" style="color: pink;">Min:</label>
      <input type="number" class="form-control" placeholder="min value" name="min">

    </div>

    <div class="mb-1">
      
      <label class="form-label" style="color: pink;">Max:</label>
      <input type="number" class="form-control" placeholder="max value" name="max">

    </div>
    <button type="submit" class="btn btn-danger">Search</button>
    </form>
  </div>